
header{
    background-color: rgb(105,105,105,0.7);
    display: flex;
    align-items: center;
    padding: 20px;
    color:white
}

.logo{
    display: flex;
    align-items: center;
    font-family: 'Smooch', cursive;
    font-size: 40px;
    margin-left: 50px;
    width: 80%;
    list-style: url("https://img.icons8.com/material-rounded/24/000000/dog.png");
}
.logo:hover{
    font-size: 50px;
    color:aqua ;
    transition: 2s;

}
.p1{ 
    
    display: flex;
    flex-direction: row-reverse;
    margin-left: 60%;
    justify-content: space-evenly;
    font-family: sans-serif;
    


}

button {
    font-size: 18px ;  
    border-color: transparent;
    color: white;
    background-color: transparent; 
    padding: 10px;
    transition: 1s;
}
button:hover{
    color: blue;
    font-size: 20px ;

}

body{
    background-color: azure;
    background-image: url(./image/20170216_110526.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    
}
section{
    display: flex;
    flex-direction:  row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;

}
.card{
    display: flex;
    background-color: rgb(128, 128, 128,0.7);
    width: 200px;
    flex-direction: column;
    align-items: center;
    height: 250px;
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
    border-style: solid;
    border-width: 3px;
    
}


h4{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    justify-content: flex-end;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
}
a:hover{
    font-size: 23px;
    color: blue;
    transition: 0.5s;
}
img{
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    margin-top: 3px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    background-color:rgb(5, 29, 5,0.8);
    margin-top: 12%;
    height: 60px;
    color: grey;
}

@media (max-width: 700px)
{
    header{
        width: 100%;
    }
.logo{
    display: none;
}
.p1 {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin-left: 40%;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    border-radius: 10px;
    text-decoration: none;
}
body{
    width: 700px;
    background-color: white;
}


}
